<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Demonstation</title>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/dist/css/bootstrap.min.css">
	<link  href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link  href="../static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	 <link  href="../static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--<link href="{{url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}} rel=stylesheet"/>-->
	


</head>
<body > 
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"> 
				<button type="button" class="navbar-toggle collapsed" 
				data -toggle="collapse" data-target="#navbar" aria-expanded="false" 
				aria -controls="navbar">
				<span class="sr-only">Toggle navigation </span >
				<span class="icon-bar"></span > 
				<span class="icon-bar"></span >
				<span class="icon-bar"></span >
			</button >
			<a class="navbar-brand" href="#">ProjectName </a>
		</div>
	 <div id="navbar" class="collapse navbar-collapse">
	 	<ul class="nav navbar-nav">
	 		<li class="active"><a href="#">Home </a></li>
	 		<li><a href="#about">About </a></li>
	 		<li><a href="#contact">Contact </a></li>
	 		</ul>
	 		</div> 
	 		</div>
	 		</nav>
	 		<div class="container"><br>
	 			<h1>HELLO </h1>
	 			<h2>Napier </h2>
	 			<p class="lead">Demonstrating a flask app with templates for html generation and bootstrap for a little bit of style </p>
	 		</div>
	 		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	 		</body >
	 		</html>
